/* /*CSS RESET http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

/* navigation and header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 95vh;
    width: 100%;  
    padding-top: 10px;
    margin: none;
    background-image: url('../images/home-hero-image.jpg');
    background-position: left;
    background-size: cover;
    position: relative;
}

header .logo img {
    width: 40px;
    height: 30px;
    margin: 4px 12px;
}

header .navbar a {
     font-size: 17px;
     color: white;
     margin-right: 20px;
}

header .navbar a:hover {
    background-color: black;
    transition: 0.3s;
}

.navbar {
    margin-top: 8px;
}

.navbar a {
    padding: 5px 8px;
    border-radius: 10px;
    background-color: rgb(21 3 3 / 0.4);
}
a {
    text-decoration: none;
}

a, a:visited{
    color: black;
}

/* home hero image  */
.hero-text {
    background-color: rgb(21 3 3 / 0.4);
    width: auto;
    display: inline-block;
    padding: 12px 10px;
    border-radius: 15px;
    text-shadow: 
        -1px 0px 0px black,
        1px 0px 0px black,
        0px -1px 0px black,
        0px 1px 0px black;color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.hero-text h1 {
    font-size: 80px;
    color: rgba(250, 249, 235, 1);
    font-family: 'Raleway', sans-serif;
}

.hero-text p {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

/* attractions hero image */
#attractions-hero-image {
    min-height: 95vh;
    width: 100%;  
    background-image: url('../images/atractions-hero-image.jpeg');
    background-position: left;
    background-size: cover;
    position: relative;
}

#outdoors-hero-image {
    min-height: 95vh;
    width: 100%;  
    background-image: url('../images/outdoors-hero-image.jpg');
    background-position: left;
    background-size: cover;
    position: relative;
}

#restaurants-hero-image {
    min-height: 95vh;
    width: 100%;  
    background-image: url('../images/restaurant-hero-image.jpg');
    background-position: left;
    background-size: cover;
    position: relative;
}

.attractions {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

/* item description content  */
h3 {
    font-family:'Raleway', sans-serif;
    font-size: 30px;
    padding: 16px;
}

.columns {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
    position: relative;
}

.columns img {
    width: 100%;
    height: 80%;
    padding-top: 35px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.item-name {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    color: black;
}

.item-description {
    padding-top: 20px;
    text-align: left;
}

.item-description h2 {
    font-weight: 700;
}

/* home media row  */
.home-media-row {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0;
    /* margin: 5px 5px; */
    width: 100%;
}

.home-video {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: none;
}

/* footer  */
footer {
    height: 150px;
    padding-top: 30px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: .5%;
    padding: 1%;
    color: #3a3a3a;
    max-width: 700px;
}

/* media queries */
@media(max-width: 530px) {
    nav.navbar {
        display: flex;
        flex-direction: column;
        align-content: space-evenly;
        padding: 10px;
    }
    nav.navbar a {
        margin: 3px;
        text-align: center;
    }
}