/* /*CSS RESET http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}
/* navigation and header*/
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.navigation-links {
        flex: 1;
        text-align: right;
        font-family: 'Raleway', sans-serif;
}
.navigation-links ul li {
    border: 1px solid rgba(207, 193, 193, 0.533);
    background-color: rgba(255, 251, 251, 0.739);
    border-radius: 10px;
    color: rgb(92, 85, 85);
    display: inline-block;
    padding: 8px 8px;
    text-decoration: none;
    margin: 25px 10px;
}
.navigation-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-weight: 300;
}
nav img {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    width: 40px;
}

/* home hero image  */
.header {
    min-height: 95vh;
    width: 100%;  
    background-image: url('../images/home-hero-image.jpg');
    background-position: left;
    background-size: cover;
    position: relative;
}
.hero-text {
    width: 90%;
    color: #fff;
    text-shadow: 
        -1px 0px 0px black,
        1px 0px 0px black,
        0px -1px 0px black,
        0px 1px 0px black;color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.hero-text h1 {
    font-size: 80px;
    font-family: 'Raleway', sans-serif;
}
.hero-text p {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

/* attractions hero image */
#attractions-hero-image {
    min-height: 95vh;
    width: 100%;  
    background-image: url('../images/atractions-hero-image.jpeg');
    background-position: left;
    background-size: cover;
    position: relative;
}
#outdoors-hero-image {
    min-height: 95vh;
    width: 100%;  
    background-image: url('../images/outdoors-hero-image.jpg');
    background-position: left;
    background-size: cover;
    position: relative;
}
#restaurants-hero-image {
    min-height: 95vh;
    width: 100%;  
    background-image: url('../images/restaurant-hero-image.jpg');
    background-position: left;
    background-size: cover;
    position: relative;
}
.attractions {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
h3 {
    font-family:'Raleway', sans-serif;
    font-size: 30px;
    padding: 16px;
}
.colums {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
    position: relative;
    overflow: hidden;
}
.colums img {
    width: 100%;
    height: 80%;
    padding-top: 35px;
}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.item-name {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    color: black;
}
.item-description {
    padding-top: 20px;
}

/* footer  */
footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: .5%;
    padding: 2%;
    color: #3a3a3a;
    max-width: 700px;
}

/* media queries */
@media(max-width: 500px) {
    .navigation-links ul li{
        display: flex;
        flex-wrap: wrap-reverse;
        text-align: center;
        flex-direction: column;
        align-content: center;
        margin: 10px;
        margin-left: 300px;
}
    body {
        font-size: 13px;
    }
}