/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* navigation and header*/
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.navigation-links {
        flex: 1;
        text-align: right;
}
.navigation-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.navigation-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}
.navigation-links a:hover {
    text-decoration: underline;
}
nav img {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    width: 40px;
}

/* home hero image  */
.header {
    min-height: 95vh;
    width: 100%;  
    background-image: url('../images/home-hero-image.jpg');
    background-position: left;
    background-size: cover;
    position: relative;
}
.hero-text {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.hero-text h1 {
    font-size: 80px;
}

/* attractions hero image */
#attractions-hero-image {
    min-height: 95vh;
    width: 100%;  
    background-image: url('../images/atractions-hero-image.jpeg');
    background-position: left;
    background-size: cover;
    position: relative;
}
#outdoors-hero-image {
    min-height: 95vh;
    width: 100%;  
    background-image: url('../images/outdoors-hero-image.jpg');
    background-position: left;
    background-size: cover;
    position: relative;
}
#restaurants-hero-image {
    min-height: 95vh;
    width: 100%;  
    background-image: url('../images/restaurant-hero-image.jpg');
    background-position: left;
    background-size: cover;
    position: relative;
}

/* footer  */
footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: .5%;
    padding: 2%;
    color: #3a3a3a;
    max-width: 700px;
}

/* media queries */
@media(max-width: 500px) {
    .navigation-links ul li {
        display: block;
        text-align: right;
}
}